@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Raleway:400,500,700";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes rain {
  0% {
    -webkit-transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(10px);
    opacity: 0;
  }
}
@keyframes rain {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
a {
  color: #FFF;
  text-decoration: none;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: #999999;
  -webkit-font-smoothing: antialiased;
}

h4 {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2px;
}

.cloudstorm-display {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}

.block {
  background-color: #33495f;
  height: 620px;
  width: 380px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 15px 30px;
  box-shadow: 0 19px 48px rgba(0, 0, 0, 0.22), 0 15px 32px rgba(0, 0, 0, 0.15);
}

.block .day:before {
  transition: 1s all ease-in-out;
  content: '';
}

.block .diglets:before {
  content: "°";
}

.block .wind {
  font-size: 10px;
}

.block .city {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 213px;
  text-transform: uppercase;
}

.block .city h1 {
  color: #F75749;
  letter-spacing: 4px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.block .date {
  padding-top: 50px;
  color: #dcd1d1;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.cloudstorm-display .background-city-img {
  background: url(../images/sydney-opera-house.svg) no-repeat top left;
  height: 250px;
  width: 250px;
  background-size: contain;
  margin: 0px auto;
  position: absolute;
    top: 105px;
    left: 30px;
}

.cloudstorm-display .top {
  position: absolute;
  margin: 0 auto;
  width: 320px;
  top: 0px;
}

.cloudstorm-display #iconwrapper {
  position: absolute;
  left: 75px;
  top: 105px;
}

.cloudstorm-display .temp {
  font-weight: 500;
  color: #F75749;
  margin-top: 15px;
  font-size: 55px;
}

.cloudstorm-display .buttons {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
}

.cloudstorm-display .buttons .bttn {
  background-color: #F75749;
  padding: 8px 25px;
  transition: .3s all;
}

.cloudstorm-display .buttons .bttn:hover {
  background-color: #f64031;
}

.flex {
  position: relative;
  min-height: 100vh;
  display: flex;
  margin: 10px;
}

/*** Form Style ***/

.cloudstorm-form {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}
.cloudstorm-form h1 {
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight: 100;
  text-align: center;
  color: #FFFFFF;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}
.cloudstorm-form .row {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  clear: both;
}

.cloudstorm-form .row.single{
  float: left;
}

.cloudstorm-form .row h4 {
  margin: 0px;
  float: left;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.cloudstorm-form input[type="text"], .cloudstorm-form input[type="password"], .cloudstorm-form textarea {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 90px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 3px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
.cloudstorm-form textarea {
  height: auto;
  min-height: 200px;
  padding: 50px 10px 10px 10px;
}
.cloudstorm-form input[type="text"] + label, .cloudstorm-form input[type="password"] + label, .cloudstorm-form textarea + label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: white;
  background: #F75749;
  border-radius: 3px 0 0 3px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
}
.cloudstorm-form textarea + label {
  width: 100%;
  border-radius: 3px 3px 0 0;
}
.cloudstorm-form input[type="text"]:focus, .cloudstorm-form input[type="password"]:focus {
  padding-left: 10px;
}
.cloudstorm-form textarea:focus {
  padding-top: 10px;
}
.cloudstorm-form input[type="text"]:focus + label, .cloudstorm-form input[type="password"]:focus + label {
  -webkit-transform: translateZ(0) translateX(-100%);
          transform: translateZ(0) translateX(-100%);
}
.cloudstorm-form textarea:focus + label {
  -webkit-transform: translateZ(0) translateY(-100%);
          transform: translateZ(0) translateY(-100%);
}
.cloudstorm-form input[type="checkbox"], .cloudstorm-form input[type="radio"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
}
.cloudstorm-form input[type="radio"] + label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  background: #ccc;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
.cloudstorm-form input[type="radio"] + label:before {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
  -webkit-transform: translateZ(0) translate(-50%, -50%) scale(0);
          transform: translateZ(0) translate(-50%, -50%) scale(0);
}
.cloudstorm-form input[type="radio"]:checked + label {
  background: #F75749;
}
.cloudstorm-form input[type="radio"]:checked + label:before {
  -webkit-transform: translateZ(0) translate(-50%, -50%) scale(1);
          transform: translateZ(0) translate(-50%, -50%) scale(1);
}
.cloudstorm-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  background: #ccc;
  width: 60px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}
.cloudstorm-form input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #F75749;
  border-radius: 100px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
  -webkit-transform: translateZ(0) scale(0);
          transform: translateZ(0) scale(0);
}
.cloudstorm-form input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  height: 26px;
  width: 26px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
}
.cloudstorm-form input[type="checkbox"]:checked + label {
  background: #F75749;
}
.cloudstorm-form input[type="checkbox"]:checked + label:after {
  left: calc(100% - 28px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.cloudstorm-form button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: white;
  border: none;
  background: #F75749;
  border-radius: 3px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -webkit-transform: translateZ(0) translateX(0);
          transform: translateZ(0) translateX(0);
  z-index: 2;
}
.cloudstorm-form button:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #F75749;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  -webkit-transform: translateZ(0) scale(0);
          transform: translateZ(0) scale(0);
  z-index: -1;
}
.cloudstorm-form button:hover:before, .cloudstorm-form button:focus:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
  transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
}

/** Loading View **/
.cloudstorm-loading {
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  transition: 1s ease;
}

.cloudstorm-loading .icon {
    background: #161616;
    color: #c3bfbf;
    display: block;
}

.cloudstorm-loading p {
  font-weight: 100;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
}

.cloudstorm-loading p .period {
    font-size: 40px;
    margin-left: 5px;

    -webkit-animation: flickerAnimation 3s infinite;
       -moz-animation: flickerAnimation 3s infinite;
         -o-animation: flickerAnimation 3s infinite;
            animation: flickerAnimation 3s infinite;
}

.cloudstorm-loading p .period.one {
    -webkit-animation-delay: 0;
            animation-delay: 0;
}

.cloudstorm-loading p .period.two {
    -webkit-animation-delay: 0.25s;
            animation-delay: 0.25s;
}

.cloudstorm-loading p .period.three {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.cloudstorm-loading.away {
    opacity: 0;
    pointer-events: none;
}


/** Cloud Animations **/

.cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    color: #fff;
    background: currentColor;
    border-radius: 50%;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em, 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
}

.cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: currentColor;
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
}

.cloud:nth-child(2) {
    z-index: 0;
    background: #fff;
    box-shadow: -2.1875em 0.6875em 0 -0.6875em #fff, 2.0625em 0.9375em 0 -0.9375em #fff, 0 0 0 0.375em #fff, -2.1875em 0.6875em 0 -0.3125em #fff, 2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
}

.cloud:nth-child(2):after {
    background: #fff;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: -1.25em;
    background: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 0 0.375em #fff;
    animation: spin 12s infinite linear;
    color: #b7a146;
}

.rays {
    position: absolute;
    top: -2em;
    left: 50%;
    display: block;
    width: 0.375em;
    height: 1.125em;
    margin-left: -0.1875em;
    background: #fff;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #fff;
}

.rays:before,
.rays:after {
    content: '';
    position: absolute;
    top: 0em;
    left: 0em;
    display: block;
    width: 0.375em;
    height: 1.125em;
    transform: rotate(60deg);
    transform-origin: 50% 3.25em;
    background: #fff;
    border-radius: 0.25em;
    box-shadow: 0 5.375em #fff;
}

.rays:before {
    transform: rotate(120deg);
}

.cloud + .sun {
    margin: -2em 1em;
}

.rain,
.lightning,
.snow {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 3.75em;
    height: 3.75em;
    margin: 0.375em 0 0 -2em;
    background: rgba(0, 0, 0, 0)/*currentColor*/;
}

.rain:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 1.125em;
    height: 1.125em;
    margin: -1em 0 0 -0.25em;
    background: #0cf;
    border-radius: 100% 0 60% 50% / 60% 0 100% 50%;
    box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    transform: rotate(-28deg);
    animation: rain 3s linear infinite;
}

.bolt {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.25em 0 0 -0.125em;
    color: #fff;
    opacity: 0.3;
    animation: lightning 2s linear infinite;
}

.bolt:nth-child(2) {
    width: 0.5em;
    height: 0.25em;
    margin: -1.75em 0 0 -1.875em;
    transform: translate(2.5em, 2.25em);
    opacity: 0.2;
    animation: lightning 1.5s linear infinite;
}

.bolt:before,
.bolt:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    margin: -1.625em 0 0 -1.0125em;
    border-top: 1.25em solid transparent;
    border-right: 0.75em solid;
    border-bottom: 0.75em solid;
    border-left: 0.5em solid transparent;
    transform: skewX(-10deg);
}

.bolt:after {
    margin: -0.25em 0 0 -0.25em;
    border-top: 0.75em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 1.25em solid transparent;
    border-left: 0.75em solid;
    transform: skewX(-10deg);
}

.bolt:nth-child(2):before {
    margin: -0.75em 0 0 -0.5em;
    border-top: 0.625em solid transparent;
    border-right: 0.375em solid;
    border-bottom: 0.375em solid;
    border-left: 0.25em solid transparent;
}

.bolt:nth-child(2):after {
    margin: -0.125em 0 0 -0.125em;
    border-top: 0.375em solid;
    border-right: 0.25em solid transparent;
    border-bottom: 0.625em solid transparent;
    border-left: 0.375em solid;
}

.flake:before,
.flake:after {
    content: '\2744';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.025em 0 0 -1.0125em;
    color: #fff;
    list-height: 1em;
    opacity: 0.2;
    animation: spin 8s linear infinite reverse;
}

.flake:after {
    margin: 0.125em 0 0 -1em;
    font-size: 1.5em;
    opacity: 0.4;
    animation: spin 14s linear infinite;
}

.flake:nth-child(2):before {
    margin: -0.5em 0 0 0.25em;
    font-size: 1.25em;
    opacity: 0.2;
    animation: spin 10s linear infinite;
}

.flake:nth-child(2):after {
    margin: 0.375em 0 0 0.125em;
    font-size: 2em;
    opacity: 0.4;
    animation: spin 16s linear infinite reverse;
}


/* Animations */

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cloud {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 0;
        transform: scale(0.5) translate(-200%, -3em);
    }
}

@keyframes rain {
    0% {
        background: #0cf;
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
    }
    25% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em #0cf, -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    50% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0.625em 0.875em 0 -0.125em #0cf, -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0.625em 0.875em 0 -0.125em rgba(255, 255, 255, 0.2), -0.875em 1.125em 0 -0.125em rgba(255, 255, 255, 0.2), -1.375em -0.125em 0 #0cf;
    }
}

@keyframes lightning {
    45% {
        color: #fff;
        background: #fff;
        opacity: 0.2;
    }
    50% {
        color: #0cf;
        background: #0cf;
        opacity: 1;
    }
    55% {
        color: #fff;
        background: #fff;
        opacity: 0.2;
    }
}

@keyframes flickerAnimation {
    0%   { opacity: 1;   }
    50%  { opacity: 0.1; }
    100% { opacity: 1;   }
}

@-o-keyframes flickerAnimation {
    0%   { opacity: 1;   }
    50%  { opacity: 0.1; }
    100% { opacity: 1;   }
}

@-moz-keyframes flickerAnimation {
    0%   { opacity: 1;   }
    50%  { opacity: 0.1; }
    100% { opacity: 1;   }
}

@-webkit-keyframes flickerAnimation {
    0%   { opacity: 1;   }
    50%  { opacity: 0.1; }
    100% { opacity: 1;   }
}
